<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @checklist.name %> has been abandoned...</p>

    <a href= <%= url_for :host => @host, :controller => 'site', :action =>'show_checklist', :id => @checklist.id %>>Visit</a>
    <a href= <%= url_for :host => @host, :controller => 'site', :action => 'archive_checklist', :id => @checklist.id %>>Close</a>
  </body>
</html>
