<div class="row-fluid" ng-view></div>
<script type="text/javascript">
    window.template_count = <%= @template_count %>;
    window.active_count = <%= @active_count %>;
    window.archived_count = <%= @archived_count %>;
</script>
