<h2>In Soviet Russia, Chekhov Analyze You!</h2>
<div id="analytics">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: general}"><a ng-click="generalStats()" stop-event='mouseup'>General Statistics</a></li>
                <li role="presentation" ng-class="{active: !general}"><a ng-click="allTimeStats()" stop-event='mouseup'>All Time Statistics</a></li>
            </ul>
        </div>
    </div>
    <div class="stats-wrapper">
        <div class="row" ng-show="general">
            <div class="col-md-offset-2 col-md-4">
                  <label for="start-date">Start Date:</label>
                <span class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="start-date" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open('startOpened', $event)" stop-event="click"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </span>
            </div>
            <div class="col-md-4">
                  <label for="end-date">End Date:</label>
                <span class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="end-date" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open('endOpened', $event)" stop-event="click"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Checklist Statistics</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan=2>Variable (<em>Statistic</em>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Created (<em>Total</em>)</td>
                            <td>{{created(checklists).length}}</td>
                        </tr>
                        <tr>
                            <td>Finished (<em>Total</em>)</td>
                            <td>{{finished(checklists).length}}</td>
                        </tr>
                        <tr>
                            <td>Sysaid Number (<em>Total</em>)</td>
                            <td>{{haveSysaidNumber(checklists).length}} out of {{checklists.length}}</td>
                        </tr>
                        <tr>
                            <td>Duration (<em>Mean</em>)</td>
                            <td>{{calcOpen(checklists)}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>User Statistics</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan=2>Variable (<em>Statistic</em>)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 30%;">Users (<em>Per day</em>)</td>
                            <td>{{meanOf(visits)}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Number of Checklists</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(loginid, count) in countByUsers(created(checklists))">
                            <td>{{ loginid }}</td>
                            <td>{{ count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
