<div class="alert alert-success affix" style="bottom: 0; right: 15px;" ng-show="saved">
  <strong>{{saved}}</strong>
</div>

<div class="row-fluid" ng-show="loaded">
  <p class="text-info span10">Using checklist '{{ checklist.template_name }}'</h4>
  <h1 class="span10">
    {{ checklist.name }}
    <span class="pull-right badge" ng-show="checklist.finished">
      Completed: {{ checklist.finished | date:'short' }}</span>
  </h1>
</div>

<div class="row-fluid" ng-show="loaded" style="margin-top: 25px;">
  <div class="span5 offset1">
    <div class="input-prepend">
      <span class="add-on">SysAid Ticket #</span>
      <input type="number" ng-model="checklist.ticket_number" placeholder="SysAid Ticket #"
        on-blur="saveChanges()" on-enter="saveChanges()"></input>
    </div>
  </div>
  <div class="span5">
    <div class="btn-group pull-right" ng-show="user.is_admin || user.id == checklist.user_id">
        <button type="button" class="btn btn-info" ng-model="checklist.public" btn-radio="true" ng-click="togglePublic()">Public</button>
        <button type="button" class="btn btn-info" ng-model="checklist.public" btn-radio="false" ng-click="togglePublic()">Not Public</button>
    </div>
  </div>
</div>

<div class="row-fluid" style="margin-top: 2em;">
  <div class="span10 offset1">
    <div class="alert alert-error" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="assets/ajax-loader.gif"></div>
    <table class="table table-hover" id="entries" ng-show="loaded">
      <tbody>
        <tr ng-repeat="entry in checklist.entries_attributes" ng-click="check(entry)">
          <td><input type="checkbox" ng-model="entry.checked" style="pointer-events: none;"></input></td>
          <td><span class="pull-right" style="padding-top: 1.5em; color: #999; padding-right: 3em;">{{entry.user_name}}<br />{{entry.finished | date:'short'}}</span><h3>{{$index+1}}. {{ entry.content }}</h3></td>
        </tr>
        <tr class="info" ng-show="checklist.comments_attributes">
          <td colspan="2">
            <h3>Comments:</h3>
          </td>
        </tr>
        <tr ng-repeat="comment in checklist.comments_attributes" class="info">
          <td colspan="2">
            <blockquote>
              <p>{{ comment.content }}</p>
              <small>{{comment.author}} <cite>{{comment.created_at | date:'short'}}</cite></small>
            </blockquote>
        </tr>
        <tr>
          <td colspan="2">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="comments">Add comment</label>
                <div class="controls">
                  <textarea class="span10" ng-model="newComment"></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn" ng-click="saveChanges()">Submit</button>
                </div>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
