<div class="alert alert-success affix notification-alert" style="bottom: 0; right: 15px; z-index: 1;" ng-show="saved">
  <strong>{{saved}}</strong>
</div>

<div class="row" ng-show="loaded">
  <h2 class="col-md-12" ng-hide="editTitle" ng-click="edit('title')" style="cursor: pointer; margin-top: 10px;">
    {{ checklist.name }}
  </h2>
  <textarea id="checklist-title" msd-elastic ng-if="editTitle" ng-model="checklist.name" type="text" class="form-control" on-blur="saveChanges('title')" on-enter="saveChanges('title')"></textarea>
  <div class="col-md-offset-1 col-md-11 checklist-info">
    <span style="float: left;">
    Created: <span class="text-muted">{{ checklist.started | date:'short' }} by {{ checklist.user.name || checklist.user.loginid }}</span><br>
    Template: <span class="text-muted">{{ checklist.template_name }}</span>
    </span>
    <span class="pull-right badge" id="completed-badge" ng-show="checklist.finished">
      Completed: {{ checklist.finished | date:'short' }} by {{ checklist.finished_by }}
    </span>
    <div style="clear: both;">
      <span style="float: left;">Category:</span>
      <span class="pull-right badge" id="completed-badge" ng-show="checklist.archived">
        Archived
      </span>
      <div style="cursor: pointer;" class="text-muted editable" ng-hide="editCat" ng-click="edit('category')">
        {{ checklist.checklist_category.name }}
        <span ng-hide='checklist.checklist_category.name'>This checklist has no category. Click here to add a category.</span>
      </div>
      <input id="checklist-category" ng-show="editCat" ng-model="checklist.checklist_category.name" type="text" class="form-control editable" typeahead-editable="false" typeahead="category.name for category in categories | filter:$viewValue | limitTo: 5" typeahead-on-select="saveCategory($item)" ng-blur="newCategory($event)"></input>
    </div>
    <div style="clear: both;">
      <span style="float: left;">Description:</span>
      <div style="cursor: pointer;" class="text-muted editable" ng-hide="editDesc" ng-click="edit('desc')">
         {{ checklist.desc || 'This checklist has no description. Click here to add a description.' }}
      </div>
      <textarea id="desc" class="form-control editable" ng-show="editDesc" ng-model="checklist.desc" on-blur="saveChanges('desc')"></textarea>
    </div>
    <div class="ticket-public">
        Sysaid Ticket #: <span class="text-muted">{{ checklist.ticket_number || '(none)' }}</span><br />
        Status: <span class="text-muted">{{checklist.public ? 'Public' : 'Not Public' }}</span>
    </div>
  </div>
</div>

<div class="row checklist-info ticket-public" ng-show="loaded">
  <div class="col-md-offset-1 col-md-5" id="ticket">
    <div class="input-group">
      <span class="input-group-addon">SysAid Ticket #</span>
      <input type="number" class="form-control" ng-model="checklist.ticket_number" placeholder="SysAid Ticket #"
        on-blur="setTicketNumber()" on-enter="saveChanges()"></input>
    </div>
  </div>
  <div class="col-md-6" id="public">
    <div class="btn-group pull-right" ng-show="(user.is_admin || user.id == checklist.user_id) && !isForcePrivate()">
        <button type="button" class="btn btn-info" ng-model="checklist.public" btn-radio="true" ng-click="togglePublic()">Public</button>
        <button type="button" class="btn btn-info" ng-model="checklist.public" btn-radio="false" ng-click="togglePublic()">Not Public</button>
    </div>
  </div>
</div>

<div class="col-md-offset-1 col-md-11 progbar" ng-show="loaded">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="min-width: 2em;" ng-style="progbar.style">
            {{progbar.text}}
        </div>
    </div>
</div>

<div class="row entry-wrapper">
  <div class="col-md-11 col-md-offset-1 entries">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <!-- Loading Bar -->
    <div class="row text-center" ng-hide="loaded" id="loading"><img src="<%= asset_path "ajax-loader.gif" %>"></div>

    <div class="entry print-only">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-3">
            <b>Completed By</b>
        </div>
    </div>

    <div ng-repeat="entry in checklist.entries_attributes" class="entry"
      popover-template='<%= asset_path("partials/time_spent.html") %>'
      popover-placement="left"
      popover-trigger="{{{true: 'click', false: 'never'}[displayTimeSpent(entry)]}}"
      ckv-click="check(entry)">
      <div class="col-xs-1">
        <input type="checkbox" ng-checked="entry.checked"></input>
      </div>
      <!--
      Usability enhancement: span has css for changing the cursor to a text bar.
      Wrapped with div so the textbar only displays for the length of the
      text, and not for the length of col-xs-8.
      -->
      <div class="col-xs-8">
        <span class="item-text" ng-class="{'finished': completed(entry)}">{{$index+1}}. {{ entry.content }}</span>
      </div>
      <div class="checked-user col-xs-3" ng-class="{'finished': completed(entry)}">
          {{entry.completed_by}}<br />
          {{entry.finished | date:'short'}}  <!-- date:'h:mm a on EEE, MMM dd, yyyy'}} -->
      </div>
      <br style="clear: both;">
    </div>
  </div>
  <div class="btn-group pull-right" ng-show="(user.is_admin || user.id == checklist.user_id) && !isForcePrivate()">
      <button type="button" class="btn btn-info" ng-model="checklist.public" ng-click="archiveToggle()">{{checklist.archived ? "Unarchive" : "Archive"}}</button>
  </div>
</div>
</div>

<!--
Comments box. Display comment box above actual comments, so user doesn't have to
scroll a ways to comment (user probably doesn't have to view previous comments
to make a comment).
-->
  <div class="comments" ng-show="loaded">
    <h3>Comments:</h3>
    <form class="form-horizontal">
      <div class="form-group">
          <label for="comments" class="col-xs-2 control-label">Add<br />Comment</label>
        <div class="col-xs-9">
          <textarea class="form-control" ng-model="newComment"></textarea>
          <span class="help-inline">{{SysAidError}}</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" ng-click="saveChanges()">Comment</button>
        </div>
      </div>
    </form>
<!-- Display comments -->
    <div class="entry col-xs-offset-1 col-xs-9" ng-repeat="comment in checklist.comments_attributes" class="active comment">
        <blockquote>
          <p ng-bind-html="comment.content | newlines"></p>
          <small>{{comment.author}} <cite>{{comment.created_at | date:'short'}}</cite></small>
        </blockquote>
    </div>
  </div>
