<div class="row" style="margin-top: 2em;">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="<%= asset_path "ajax-loader.gif" %>"></div>

    <div id="templates" class="entries">
        <div class="entry" ng-repeat="checklist in checklists | filter: {name: searchText}" ckv-click="openChecklist(checklist.id)" ng-show="loaded">
<!--    <div id="templates">
        <div class="checklist entry" ng-repeat="checklist in checklists | filter: {name: searchtext}" ckv-click="openChecklist(checklist.id)" ng-show="loaded"> -->
            <div class="col-xs-9">
                <span class="name">{{ checklist.name }}</span>
                <div class="progbar">
                    <div ng-style="checklist.progbar" ng-class="{'no-progress': !checklist.progbar}">
                        <span ng-show="checklist.progbar">{{ checklist.finished_count }} of {{ checklist.entry_count }} completed</span>
                        <span ng-hide="checklist.progbar">0% complete</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <span class="hint-text">
                    <span class="template-actions" ng-show="user.is_admin || user.id == checklist.user_id">
                        <a class="glyphicon glyphicon-trash first" tooltip-append-to-body="true" tooltip="Delete this checklist" ng-click="confirmDeleteChecklist(checklist)" stop-event="mouseup"></a>
                        <a class="glyphicon glyphicon-edit" tooltip-append-to-body="true" tooltip="Edit this checklist" stop-event="mouseup" href="#/checklists/{{checklist.id}}"></a>
                    </span>
                </span>
            </div>
            <br style="clear: both;">
            <!-- # See checklists.js.coffee for updateProgressBar code. Turn it into
            # a directive, where you just do a watch and pass it
            # checkedEntries() and entryCount(). -->
        </div>
    </div>
  </div>
</div>
