<div class="row-fluid" style="margin-top: 2em;">
  <div class="span10 offset1">
    <div class="span6 offset3" style="margin-bottom: 1em;">
      <input type="search" placeholder="Search Archived Checklists" class="span12" ng-model="search" />
    </div>
    <div class="alert alert-error" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>{{error}}
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="assets/ajax-loader.gif"></div>
    <table class="table table-hover" id="templates">
      <tbody>
        <tr ng-repeat="checklist in checklists" ng-click="openChecklist(checklist.id)" ng-show="loaded">
          <td>
            <span class="pull-right" ng-show="checklist.finished" style="padding-top: 0.8em; color: #999; padding-right: 2em;">Completed<br />{{ checklist.finished | date:'short' }}</span>
            <span class="pull-right hint-text" style="padding-top: 1.5em; color: #999; padding-right: 3em;">Re-open this checklist</span>
            <h3 class="muted">{{ checklist.name }}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
