<div class="row" style="margin-top: 2em;">
  <div class="col-md-4 col-md-offset-4">
    <input class="typeahead col-md-12" type="text" placeholder="Search" autofocus />
  </div>
</div>
<div class="row" style="margin-top: 2em;">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>{{error}}
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="<%= asset_path "ajax-loader.gif" %>"></div>
    <table class="table table-hover" id="templates">
      <tbody>
        <tr ng-repeat="checklist in checklists" ng-click="openChecklist(checklist.id)" ng-show="loaded">
          <td>
            <span class="pull-right" ng-show="checklist.finished" style="padding-top: 0.8em; color: #999; padding-right: 2em;">Completed<br />{{ checklist.finished | date:'short' }}</span>
            <span class="pull-right hint-text" style="padding-top: 1.5em; color: #999; padding-right: 3em;">Re-open this checklist</span>
            <h3 class="muted">{{ checklist.name }}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
