<div class="row-fluid" ng-show="user.is_admin">
    <a class="btn btn-primary pull-right" href="#/templates/new">New Checklist</a>
</div>

<div class="row-fluid" style="margin-top: 2em;">
  <div class="span10 offset1">
    <table class="table table-hover" id="templates">
      <tbody>
        <tr ng-hide="loaded"><td class="span12">
          <div class="row text-center"><img src="assets/ajax-loader.gif"></div>
        </td></tr>
        <tr ng-repeat="template in templates" ng-click="startChecklist(template.id)" ng-show="loaded">
          <td>
            <span class="pull-right hint-text">
              Start this checklist
              <span class="template-actions" ng-show="user.is_admin">
                <a class="icon-edit" tooltip="Edit this checklist" stop-event="click" href="#/templates/edit/{{template.id}}"></a>
                <a class="icon-trash" tooltip="Delete this checklist" ng-click="deleteTemplate(template)" stop-event="click"></a>
              </span>
            </span>
            <h3>{{ template.name }}</h3></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
