<save-notification show="notifySave"></save-notification>
<div class="row" style="margin-top: 1em;">
    <div class="col-xs-offset-1 col-xs-2" dropdown>
      <button type="button" class="btn btn-info" dropdown-toggle>
        Categories <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" stop-event="click">
        <!-- Toggle buttons -->
        <li class="checkbox" ng-repeat="category in categories">
          <label>
            <input type="checkbox" ng-model="category.selected" ng-change="getTemplates()" /> {{ category.name || "(no name)" }}
          </label>
        </li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="alert col-xs-10 col-xs-offset-1" style="margin-bottom: 0;">
    Showing <span ng-hide="categoriesSelected">all</span> templates<span ng-show="categoriesSelected"> from {{ categoriesSelected }}</span>. <a style="cursor: pointer;" ng-click="resetFilters()">Clear filters.</a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="<%= asset_path "ajax-loader.gif" %>"></div>
    <div id="templates" class="entries">
        <div class="entry" ng-repeat="template in templates" ckv-click="actOn(template)" ng-show="loaded">
            <div class="col-xs-9">
               <span class="name">{{ template.name }}</span>
            </div>
            <div class="col-xs-3">
               <span class="hint-text">
                   <span class="template-actions" ng-show="canManage">
                    <a class="glyphicon glyphicon-trash first" tooltip-append-to-body="true" tooltip="Delete this template" ng-click="confirmDeleteTemplate(template)" stop-event="mouseup"></a>
                    <a class="glyphicon glyphicon-refresh" tooltip-append-to-body="true" tooltip="Duplicate this template" stop-event="mouseup" href="#/templates/duplicate/{{template.id}}"></a>
                    <a class="glyphicon glyphicon-edit" tooltip-append-to-body="true" tooltip="Edit this template" stop-event="mouseup" href="#/templates/edit/{{template.id}}"></a>
                  </span>
                  <span class="no-copy" ng-show="!canManage">Use this template</span>
              </span>
            </div>
            <br style="clear: both;">
        </div>
    </div>
  </div>
</div>
