<div class="row-fluid" style="margin-top: 2em;">
  <div class="span10 offset1">
    <table class="table table-hover" id="templates">
      <tbody>
        <tr ng-hide="loaded"><td class="span12">
          <div class="row text-center"><img src="assets/ajax-loader.gif"></div>
        </td></tr>
        <tr ng-repeat="checklist in checklists" ng-click="openChecklist(checklist.id)" ng-show="loaded">
          <td>
            <span class="pull-right hint-text">
              Continue this checklist
              <span class="template-actions" ng-show="user.is_admin || user.id == checklist.id">
                <a class="icon-trash" tooltip="Delete this checklist" ng-click="deleteChecklist(checklist.id)" stop-event="click"></a>
              </span>
            </span>
            <h3>{{ checklist.name }}</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
