
<h3 class="text-center">New Checklist</h3>
<div class="span6 offset3">
  <input class="span12 input-large" type="text" placeholder="Name this checklist" ng-model="newTemplate.name" />
</div>
<table class="table table-condensed">
  <tbody>
  <tr ng-repeat="entry in newTemplate.entries_attributes">
    <td>{{entry.content}}</td>
  </tr>
  <tr>
    <td>
      <input class="span12" type="text" placeholder="New entry" ng-model="newContent" on-enter="addToEntries()" />
    </td>
  </tr>
</tbody>
</table>
<button class="btn btn-primary span4 offset4" ng-click="save()">Create</button>