<save-notification show="notifySave"></save-notification>

<h3 class="text-center">New Template</h3>

<div class="row" style="margin-top: 2em;">
  <div class="col-md-4 col-md-offset-4">
    <input class="form-control input-lg" type="text" placeholder="Name this checklist" ng-model="newTemplate.name" style="text-align: center;" autofocus />
  </div>
</div>

<div class="row" style="margin-top: 2em;">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <ul class="nav nav-pills nav-stacked" ng-model="newTemplate.entries_attributes" ui-sortable="sortableOptions">
      <li class="sortable-item" ng-repeat="entry in newTemplate.entries_attributes">
          <span class="handle glyphicon glyphicon-move" />
          <span ng-hide="editingEntry == $index">{{$index+1}}. {{ entry.content }}</span>
          <span ng-show="editingEntry == $index">
            {{$index+1}}.
            <input class="item-edit" type="text" ng-model="entry.content"
              on-enter="unsetEditingEntry()" on-blur="unsetEditingEntry()" />
          </span>
          <span class="item-actions" ng-hide="editingEntry == $index">
            <i class="glyphicon glyphicon-trash icon-right" ng-click="removeFromEntries(entry.position)"
               tooltip="Delete this entry"></i>
            <i class="glyphicon glyphicon-edit icon-right" ng-click="setEditingEntry(entry.position)"
               tooltip="Edit this entry"></i>
          </span>
          <br style="clear: both;">
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <input class="form-control" type="text" placeholder="New entry" ng-model="newContent" on-enter="addToEntries()" />
      </li>
    </ul>

    <button class="btn btn-primary col-md-4 col-md-offset-4" style="margin-top: 2em;" ng-click="save()">Create</button>
  </div>
</div>
