<h3 class="text-center">New Checklist</h3>

<div class="aspan6 aoffset3" style="text-align: center; margin-left: 0;">
  <input class="span12 input-large span6" type="text" placeholder="Name this checklist" ng-model="newTemplate.name" style="text-align: center;" />
</div>

<div class="row-fluid span8 offset2">
  <div class="alert alert-error" ng-show="error">
    <button type="button" class="close" ng-click="clearError()">&times;</button>{{error}}
  </div>

  <ul class="nav nav-pills nav-stacked" ng-model="newTemplate.entries_attributes" ui-sortable="sortableOptions">
    <li ng-repeat="entry in newTemplate.entries_attributes">
        {{ entry.content }}
        <i class="icon-trash close" ng-click="removeFromEntries(entry)"></i>
    </li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <input class="span12" type="text" placeholder="New entry" ng-model="newContent" on-enter="addToEntries()" />
    </li>
  </ul>

  <button class="btn btn-primary span4 offset4" ng-click="save()">Create</button>
</div>
