<div class="row" id="nav-filters">
    <span class="visible-xs col-xs-12">
      <h4>Filters:</h4>
    </span>
    <div class="col-md-offset-1 col-sm-2" dropdown>
      <button type="button" class="btn btn-info" dropdown-toggle>
        Categories <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" stop-event="click">
        <!-- Toggle buttons -->
        <li class="checkbox" ng-repeat="category in categories">
          <label>
            <input type="checkbox" ng-model="category.selected" ng-change="getChecklists()" /> {{ category.name || "(no name)" }}
          </label>
        </li>
      </ul>
    </div>
    <div class="col-sm-3" dropdown>
      <button type="button" class="btn btn-info" dropdown-toggle>
        Date Range <span class="caret"></span>
      </button>
      <div class="date-range dropdown-menu">
        <div class="row">
          <div class='col-sm-6'>
            <b>Start Date:</b>
            <datepicker ng-model="display.startDate" show-weeks="true" class="well well-sm" stop-event="click" ng-change="getChecklists()"></datepicker>
          </div>
          <div class='col-sm-6'>
            <b>End Date:</b>
            <datepicker ng-model="display.endDate" show-weeks="true" class="well well-sm" stop-event="click" ng-change="getChecklists()"></datepicker>
          </div>
        </div>
        <div class="row" style="text-align: center; margin-bottom: 20px;">
          <button type="button" class="btn btn-primary" ng-click="allTime()">
            Show All Time
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 btn-group">
      <label class="btn btn-primary" btn-checkbox ng-model="display.inProgress" ng-change="getChecklists()">
        In Progress
      </label>
      <label type="button" class="btn btn-primary" btn-checkbox ng-model="display.archived" ng-change="getChecklists()">
        Archived
      </label>
    </div>
</div>
<div class="row">
    <div class="alert col-xs-10 col-md-offset-1" style="margin-bottom: 0;">
    Showing <span ng-hide="categoriesSelected">all</span> {{ statusOfChecklists }} checklists <span ng-show="categoriesSelected">from {{ categoriesSelected }}</span> <span ng-hide="display.startDate">for all time</span><span ng-show="display.startDate">between {{ display.startDate | date }} and {{ display.endDate | date }}</span>. <a style="cursor: pointer" ng-click="resetFilters()">Clear filters.</a>
    </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <div class="row text-center" ng-hide="loaded" id="loading"><img src="<%= asset_path "ajax-loader.gif" %>"></div>

    <div id="templates" class="entries">
        <div class="entry" ng-repeat="checklist in checklists | filter: {name: searchText}" ckv-click="openChecklist(checklist.id)" ng-show="loaded">
<!--    <div id="templates">
        <div class="checklist entry" ng-repeat="checklist in checklists | filter: {name: searchtext}" ckv-click="openChecklist(checklist.id)" ng-show="loaded"> -->
            <div class="col-xs-9">
                <span class="name">{{ checklist.name }}</span>
                <span style="color: #aaa; font-size: 10px; position: absolute; bottom: 12px; left: 7px;">Started {{getDays(checklist.started) }} days ago by {{checklist.user.loginid}} </span>
                <div class="progbar">
                    <div ng-style="checklist.progbar" ng-class="{'no-progress': !checklist.progbar}">
                        <span ng-show="checklist.progbar">{{ checklist.finished_count }} of {{ checklist.entry_count }} completed</span>
                        <span ng-hide="checklist.progbar">0 of {{ checklist.entry_count }} completed</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                 <span style="color: #aaa; font-size: 10px; position: absolute; top: 5px; right: 5px;">{{ checklist.checklist_category.name }}</span>
                <span class="hint-text">
                    <span class="template-actions" ng-show="user.is_admin || user.id == checklist.user_id">
                        <a class="glyphicon glyphicon-trash first" tooltip-append-to-body="true" tooltip="Delete this checklist" ng-click="confirmDeleteChecklist(checklist)" stop-event="mouseup"></a>
                        <a class="glyphicon glyphicon-edit" tooltip-append-to-body="true" tooltip="Edit this checklist" stop-event="mouseup" href="#/checklists/{{checklist.id}}"></a>
                    </span>
                </span>
            </div>
            <br style="clear: both;">
            <!-- # See checklists.js.coffee for updateProgressBar code. Turn it into
            # a directive, where you just do a watch and pass it
            # checkedEntries() and entryCount(). -->
        </div>
    </div>
  </div>
</div>
