Chekhov.controller "TemplatesActiveIndexCtrl", @TemplatesActiveIndexCtrl = ($scope, $modal, $location, Checklists, User, ChecklistCategories, Colorado, $rootScope) ->
  $scope.loaded = false
  $scope.error = null

  $scope.display = Colorado.whichChecklists

  $scope.categoriesSelected = false

  success = (data) ->
      # Success
      $scope.user = User
      $scope.checklists = _.map data, (checklist) ->
        checklist.progbar = progbar(checklist)
        checklist
      $scope.categoriesSelected = _.map(
        _.filter($scope.categories, (category) -> category.selected)
        , (category) -> category.name || "(no name)")
       .join(", ") || false
      $rootScope.active_count = $scope.checklists.length
      $scope.loaded = true

  nope = (data) ->
    $scope.error = "Error retrieving information from server"

  $scope.getChecklists = ->
    # Restore state of corresponding start and end dates when a date is chosen
    # after all time has been clicked (if the calendar was previously cleared to
    # display checklists for all time). Set dates to today if they were not
    # previously set.
    if $scope.display.startDate && !$scope.display.endDate
      $scope.display.endDate = $scope.display.oldDates.end
    else if $scope.display.endDate && !$scope.display.startDate
      $scope.display.startDate = $scope.display.oldDates.start

    $scope.display.categories = _.pluck(_.filter($scope.categories, (category) -> category.selected), "id")
    data =
      'categories[]': $scope.display.categories
      start: $scope.display.startDate
      end: $scope.display.endDate

    if $scope.display.inProgress && $scope.display.archived
      Checklists.all_lists data, success, nope
      $scope.statusOfChecklists = "in progress and archived"
    else if $scope.display.inProgress
      Checklists.query data, success, nope
      $scope.statusOfChecklists = "in progress"
    else if $scope.display.archived
      Checklists.archived data, success, nopet new javascript framework
      $scope.statusOfChecklists = "archived"
    else
      $scope.loaded = false
      $scope.statusOfChecklists = "non-existent"

  $scope.allActive = $scope.checklists

  $scope.allTime = () ->
    $scope.display.oldDates =
      start: $scope.display.startDate
      end: $scope.display.endDate

    $scope.display.startDate = ""
    $scope.display.endDate = ""
    $scope.getChecklists()

  # Resets all filters to initial state
  $scope.resetFilters = () ->
    $scope.display.categories = []
    $scope.display.inProgress = true
    $scope.display.archived = false
    $scope.allTime()

  console.debug 'TemplatesActiveIndexCtrl', 'Initializing...'

  #$('ul.nav li').removeClass 'active'
  #$('ul.nav li#checklists_active').addClass 'active'

  progbar = (checklist) ->
    return false if checklist.finished_count == 0
    {
      width: "calc(" + Math.round((checklist.finished_count / checklist.entry_count) * 133) + "% + 0.75em)"
    }

  $scope.openChecklist = (checklist_id) ->
    $location.path("/checklists/#{checklist_id}")

  $scope.confirmDeleteChecklist = (checklist) ->
    modalInstance = $modal.open
      templateUrl: '<%= asset_path("partials/checklist_delete.html") %>'
      controller: ChecklistDeleteCtrl
      resolve:
        checklist: ->
          checklist

    modalInstance.result.then () ->
      $scope.deleteChecklist(checklist)

  $scope.deleteChecklist = (checklist) ->
    Checklists.delete {id: checklist.id},
      (data) ->
        # Success
        index = $scope.checklists.indexOf(checklist)
        $scope.checklists.splice(index,1)
        $rootScope.active_count = $scope.checklists.length
    , (data) ->
        # Error
        $scope.error = "Error deleting checklist '#{checklist.name}'"
        _.each(data.data.errors , (e,i) ->
            $scope.error = $scope.error + "<li>#{i} #{e}</li>"
          )

  $scope.clearError = ->
    $scope.error = null

  $scope.$watch "search", (value) ->
    if value
      $scope.checklists = _.filter($scope.allActive, (c) ->
          name = c.name.toLowerCase()
          ticket = c.ticket_number || ""
          name.indexOf(value.toLowerCase()) != -1 || ticket.toString().indexOf(value.toLowerCase()) != -1
        )
    else
      $scope.checklists = $scope.allActive
  , true

  ChecklistCategories.query {}, (data) ->
    $scope.categories = _.map(data, (item) ->
      return item if $scope.display.categories.indexOf(item.id) is -1

      item.selected = true
      return item
    )

    # We can only get checklists when we know which categories to get (if any),
    # so have to do this after categories have loaded successfully
    $scope.getChecklists()

  , nope
