<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Nope.</h1>
  <p class="lead">Not gonna happen.</p>
  
  <%= image_tag 'sad_puppy.jpg', :class => 'img-rounded' %>
  
  <p class="lead"><br />(You don't have permission. Ask IT for help.)</p>
  <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=paper" class="btn btn-large btn-danger">Drats</a>
</div>

<div style="font-size: 0.8em; color: #999;">
  Photo used under the Creative Commons. Credit: Martin Cathrae.
</div>
