<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Chekhov</h1>
  <p class="lead">Simple checklists.<br /><br />Because paper is hard.</p>
  <%= link_to "Let's go", templates_url, :class => 'btn btn-large btn-success' %>
</div>
