/*
 *= require bootstrap
 *= require justified-nav
 */

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

// Define colors for color coding things:
$green: rgb(92, 184, 92);
$orange: rgb(236, 151, 31);
$blue: rgb(66, 139, 202);
$gray: #888;

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Keep the site title pretty and un-link-like */
.masthead h2 a {
  color: #333;
  font-size: 3.25rem;

  &.comrade {
    font-variant: small-caps;

    &::after {
      content: "!";
    }
  }

  &:hover {
    text-decoration: none;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.input-large {
  width: 210px;
  height: 44px !important;
  margin-bottom: 10px !important;
  line-height: 30px !important;
  padding: 11px 19px !important;
  font-size: 17.5px !important;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.input-large[class=input-large] {
    width: 400px;
}

.progbar {
    margin-top: 2em;
}

@mixin row-padding($topbottom, $sides) {
    padding: $topbottom 0;

    &:first-of-type {
        padding-left: $sides;
    }

    &:last-of-type {
        padding-right: $sides;
    }
}

.entry-wrapper {
    margin: 2em 0;
}

.entries {
    display: table;
    width: 100%;
}

.entry {
    padding: 0;

    /* For browsers that support this selector. That is, everyone but IE < 9 */
    &:last-of-type div {
        border-bottom: 0;
    }

    display: table-row;

    &>div {
        float: none;
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid #aaa;

        @include row-padding(1em, 0.5em);
    }

    .item-text {
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 5px;

        &.finished {
            color: #aaa;
            font-weight: normal;
            text-decoration: line-through;
        }
    }

    .checked-user {
        text-align: right;
        font-size: 10px;
        color: #999;
        min-height: 35px;
    }

    .finished {
        visibility: visible;
    }

    .name {
        font-size: 24px;
    }

    .glyphicon-trash {
        cursor: pointer;
    }

    &:hover {
        background-color: #eee;
        cursor: text;

        span, .name {
            // cursor: auto;
        }
    }

    .checkbox {
      &:hover {
        cursor: pointer;
      }
    }
}

/* Modify label for comments box. Have to specify .form-horizontal to *
 * override settings from bootstrap.css                               */
.comments {
    .form-horizontal {
        .control-label {
            padding: 0 0;
            color: #333;
        }
    }

    .entry {
        margin-left: 13%;
        border: none;
        padding: 0 15px;

        &:hover {
            background-color: transparent;
            cursor: auto;
        }
    }
}

#templates {
    .entry {
        /* padding: 0.5em 0; */

/*
        &.checklist {
            padding: 0.5em 0 0;
        }
*/

        .hint-text {
            display: block;
            visibility: hidden;
            color: #999;
            // text-align: right;

            a {
                float: right;
                margin: 0.2em 0 0 0.75em;

                &.first {
                    margin-right: 0.75em;
                }
            }
        }

        .progbar {
            position: relative;
            margin-top: 0;

            & > div {
                color: #eee;
                position: absolute;
                height: 11px;
                line-height: 8px;
                bottom: -1.5em;
                left: -0.5em;
                background-color: #eee;
                text-align: center;
                overflow: hidden;

                &.no-progress {
                    background-color: #fff;
                    color: #fff;
                }

                & > span {
                    font-size: 10px;
                    padding: 0 2px;
                }
            }
        }

        &>div {
            @include row-padding(1.5em, 0.5em);
        }

        &:hover {
           cursor: pointer;
           .hint-text {
                visibility: visible;
            }

            // .no-copy doesn't prevent copying, but shows the user that
            // something's not meant to be copied.
            .no-copy {
                cursor: pointer;
            }

            .progbar div {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }
}

ul.sortable-list {
  margin-bottom: 0;
  padding-left: 0;
}

/* Sortable List */
li.sortable-item {
  cursor: move;
  display: table;
  width: 100%;
  margin-bottom: 7px;

  .item-wrapper {
    display: table-row;
  }

  &:hover {
    .item-actions {
        visibility: visible;
    }
  }

 &.ui-sortable-helper:before {
 }

 span {
    display: table-cell;
    float: none;
    vertical-align: middle;
    background: #eee;
    border: 1px dotted #ccc;
    border-width: 1px 0;

    margin: 3px 0;
    padding: 5px 0;

    &.first {
        background: #eee image-url('move-handle.gif') no-repeat left center;
        border-left-width: 1px;
        border-radius: 3px 0 0 3px;
        padding-left: 1.5em;
    }

    &.last {
        border-right-width: 1px;
        border-radius: 0 3px 3px 0;
        padding-right: 0.5em;
    }
 }

  .item-actions {
    border: none;
    margin: 0;
    padding: 0;
    float: right;
    visibility: hidden;
    white-space: nowrap;

    i {
      color: #999;
      margin: 0 0.5em;
      float: right !important;

      &:hover {
        cursor: pointer;
        color: #333;
      }
    }
  }

  textarea.item-edit {
    width: 98%;
    resize: none;
    border: 1;
  }
}

.content {
  padding-left: 25px;
}

.footer {
  color: #aaa;
  font-size: 0.7em;
  text-align: center;
  border-top: 0;
  padding-left: 15px;

  p {
    margin: 0;
    padding: 0;
  }
}

#checklist-title {
    margin: 10px 0 10px 10px;
    font-size: 30px;
    height: 40px;
    /* So margins don't collapse */
    float: left;
}

#checklist-category {
}

.checklist-info {
    font-size: 13px;

    span, input, button {
        font-size: 13px;
    }

    .form-control {
        height: inherit;
        padding: 4px 6px;
    }

    .btn {
        padding: 4px 6px;
    }

    .input-group-addon {
        padding: 4px 6px;
    }

    #completed-badge {
      font-size: 12px;
    }

    &.col-md-11 {
        margin-bottom: 6px;
    }

    .ticket-public {
      display: none;
    }

    @media (max-width: 991px) {
      &.ticket-public {
        margin-top: 10px;
        #public {
          margin-top: 5px;
          .pull-right {
            float: none !important;
          }
        }
      }
    }

    .editable {
      float: left;
      width: 80%;
      margin-left: 0.75ch;
    }
}

#nav-filters {
    margin-top: 1em;

    @media (max-width: 768px) {
        padding: 5px 5px 15px 5px;
        background-color: #eee;
        border-radius: 3px;
        margin-right: 5px;
        div {
            margin-top: 5px;
        }
    }
}

.date-range {
    display: none;
    position: absolute;
    padding: 10px 20px 0 20px;

    @media (min-width: 768px) {
      right: -200%;
      left: -50%;
      top: 100%;
      .open > & {
          display: block;
      }
    }
}

.dropdown-menu .checkbox {
  margin: 0;

  label {
    display: block;
    clear: both;
    color: #333;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 30px;
    white-space: nowrap;

    &:hover {
      background-color: #eee;
    }
  }
}

.nav-sidebar {
  position: absolute;
  height: 100%;
  padding-right: 0;
  border-right: 2px solid #888;
  border-radius: 0px;
  width: 260px;

  /* From bootstrap. See http://getbootstrap.com/javascript/#affix */
  &.affix {
    top: 0;
    position: fixed;
  }

  /* Make the sidebar look a little nicer on small screens */
  @media (max-width: 770px) {
      padding-right: 15px;
  }

  /* Remove bar on the right when there's nothing to separate because *
   * everything's displayed in one column                             */
  @media (max-width: 991px) {
      border-right: none;

      /* Make sure everything is actually displayed in one column. Don't want
       * navigation bars overlapping with content.  */
      &, &.affix {
        position: static;
        width: auto;
      }
  }



  // Make a mixin for classes and ids to which colors are applied:
  @mixin show-colors($item-name, $color) {
    // Styles for the border
    &.#{$item-name} {
      border-right-color: $color;
    }

    // Styles for the navigation buttons. The second octothorpe, like the #{}
    // above, is for variable interpolation. The first one is just the regular
    // ol' id selector.
    li##{$item-name} {
      &.active > a, a:hover {
        color: #fff;
        background-color: $color;
      }
    }
  }

  @include show-colors("nav-item-start-new", $green);
  @include show-colors("nav-item-in-progress", $orange);
  @include show-colors("nav-item-completed", $blue);
  @include show-colors("nav-item-create-template", $gray);
  @include show-colors("nav-item-manage-templates", $gray);
  @include show-colors("nav-item-analytics", $gray);

  li {
    margin: 0;

    &.active a {
      border-radius: 0;
    }

    a {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 17px;
      color: #444;
      padding: 0.625em 0.7em;

      .label {
          float: right;
      }

      .glyphicon {
          margin-right: 0.3em;
      }

      &:hover {
        border-radius: 0;
      }
    }
  }
}

/* Stolen from: http://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.typeahead {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    display: inline-block;
    font-size: 1.4rem;
    outline-style: none;
    padding: 0.35rem 0.7rem;
    position: relative;
    width: 100%;

    &.loading {
        background: transparent url('ajax-loader-circle.gif') no-repeat 98% center;
    }
}

.twitter-typeahead {
    float: right;
    width: 25%;
}

.tt-dropdown-menu {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    background-color: rgb(255, 255, 255);
    border: rgba(0, 0, 0, 0.2) solid 1px;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    font-size: 1.4rem;
    margin-top: 1rem;
    overflow: hidden;

    p {
        padding: 0;
        margin: 0;
    }

    .no-results {
        color: #aaa;
        text-align: center;
    }

    @mixin header-color($color, $no-separator) {
        .tt-header {
            color: $color;
//            font-variant: small-caps;
            font-weight: bold;
            padding: 0.5rem 1rem 0.1rem 1rem;
            font-size: 1.6rem;
        }
    }

    [class|=tt-dataset] {
        border-top: 1px dashed #aaa;

        // Can't use the second & in &:empty + &, because we're not looking for
        // a .tt-dropdown-menu [class|=tt-dataset] sibling (there should be no
        // siblings of any of the .tt-dataset-* that have a class of
        // .tt-dropdown-menu).
        &:empty, &:first-of-type, &:empty + [class|=tt-dataset] {
            border-top: none;
        }
    }

    .tt-dataset-archived {
        @include header-color($blue, true);
    }

    .tt-dataset-open {
        @include header-color($orange, false);
    }

    .tt-dataset-templates {
        @include header-color($green, false);

        .tt-suggestion {
            display: table;
            width: 100%;
        }

        a {
            display: table-cell;
            vertical-align: middle;
            font-size: 1.2rem;
            text-align: right;
            width: 14px;
        }

        p {
            display: table-cell;
            vertical-align: middle;
            width: 90%;
        }
    }

    .tt-suggestion {
        padding: 0.5rem 1rem 0.5rem 2rem;
        color: #555;
    }

    .tt-cursor {
        cursor: pointer;
        background-color: #eee;
        color: #000;
    }
}

#analytics {
    .btn {
        height: 34px;
    }

    li a {
        cursor: pointer;
    }

    .stats-wrapper {
        border: 1px solid #ddd;
        border-radius: 0 0 5px 5px;
        border-top: none;
        padding: 10px;
    }
}

.print-only {
    display: none;
}

.row {
  .form-control {
    resize: none;
  }
}
