/*
 *= require bootstrap
 *= require justified-nav
 *= require_tree .
 */

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Keep the site title pretty and un-link-like */
.masthead h2 a {
  color: #333;
  font-size: 3.25rem;

  &.comrade {
    font-variant: small-caps;

    &::after {
      content: "!";
    }
  }

  &:hover {
    text-decoration: none;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.input-large {
  width: 210px;
  height: 44px !important;
  margin-bottom: 10px !important;
  line-height: 30px !important;
  padding: 11px 19px !important;
  font-size: 17.5px !important;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.input-large[class=input-large] {
    width: 400px;
}

table {
  tr {
    input[type=checkbox] {
      width: 30px;
      height: 30px;
      margin-top: 16px;
      pointer-events: none; /* because why would you want to click a checkbox? */
    }

    .hint-text {
      display: none;
      padding-top: 1.5em;
      color: #999;
      padding-right: 3em;
      white-space: nowrap;

        .template-actions {
          margin: 0 0.7em;
        }
    }

    &:hover {
      cursor: pointer;
      .hint-text {
        display: block;
      }
    }
  }
}

/* Sortable List */
li.sortable-item {
  border: 1px dotted #ccc;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0px;
  background: #eee;

  span {
    padding-left: 0.1rem;

    &.handle {
      cursor: move;
    }
  }
}


.footer {
  color: #999;
  font-size: 0.8em;
  p {
    margin: 0;
    padding: 0;
  }
}

#completed-badge {
  margin-top: 12px;
}

.nav {
    li {
      a {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 19px;
      }
    }
}
