/*
 *= require bootstrap
 *= require justified-nav
 *= require_tree .
 */

body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Keep the site title pretty and un-link-like */
.masthead h2 a {
  color: #888;

  &:hover {
    text-decoration: none;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.input-large {
  width: 210px;
  height: 44px !important;
  margin-bottom: 10px !important;
  line-height: 30px !important;
  padding: 11px 19px !important;
  font-size: 17.5px !important;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.input-large[class=input-large] {
    width: 400px;
}

table {
  tr {
    input[type=checkbox] {
      width: 30px;
      height: 30px;
      margin-top: 16px;
      pointer-events: none; /* because why would you want to click a checkbox? */
    }

    .hint-text {
      display: none;
      padding-top: 1.5em;
      color: #999;
      padding-right: 3em;
      white-space: nowrap;

        .template-actions {
          margin: 0 0.7em;
        }
    }

    &:hover {
      cursor: pointer;
      .hint-text {
        display: block;
      }
    }
  }
}

/* Sortable List */
li.sortable-item {
  border: 1px dotted #ccc;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0px;
  background: #eee;
  cursor: move;

    span {
      border-left: 1px dotted #888;
      margin-left: 3px;
      padding-left: 5px;
    }
}


.footer {
  color: #999;
  font-size: 0.8em;
  p {
    margin: 0;
    padding: 0;
  }
}

#completed-badge {
  margin-top: 12px;
}
